* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}
button {
    color: #FFF;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    background: #3882F6;
    padding: 6px 30px;
    border-radius: 10px;
}
    /*      Section 1: HEADER      */
.header {
    background: #1F2937;
    color: #F9FAF8;
    padding: 28px 200px 150px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}
.nav-container, .hero-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header li, .hero-text p{
    color: #c5c7cb;
}
    /*      sub-section: nav-container      */
.nav-container {
    display: flex;
    justify-content: space-between;
}
.logo-text {
    font-size: 24px;
}
.header li {
    display: inline-block;
}
.header-links {
    display: flex;
    gap: 26px;
}
    /*      sub-section: hero text and image     */
.hero-container {

}
.hero-text, .hero-img {
    width: 50%;
}
.hero-text {
    padding-right: 24px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 18px;
}
.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}
.hero-img {
    background: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-img img {
    height: 100px;
    width: auto;
}
    /*      section 2: thumbnails       */
.thumbnails {
    padding: 52px 200px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}
.thumbnails h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    flex: 100%;
    text-align: center;
}
.card {
    width: 180px;
    height: auto;
    text-align: center;
    color: #707478;
    /* flex: 0 0 auto;  not sure if this is doing anything */
}
.card img {
    width: 100%;
    height: auto;
    margin-bottom: 6px;
    border: 4px solid #3882F6;
    border-radius: 18px;
}
    /*      section 3: testimonials      */
.testimonials {
    background: #E7E5EB;
    color: #1F2937;
    padding: 116px 380px 118px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.testimonials .quote-text {
    font-size: 36px;
    font-weight: 300; /* "light" didn't work for me here */
    font-style: italic;
}
.testimonials .quote-attr {
    font-size: 24px;
    font-weight: 700;
    padding-right: 50px;
    text-align: right;
}
    /*      Section 4: call to action        */
.call-action {
    margin: 120px 200px 122px;
    padding: 56px 180px 56px;
    background: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}
.call-action h4 {
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}
.call-action p {
    color: #E7E5EB;
}
.call-action button {
    border: 2px solid #E7E5EB;
    flex: 0 0 auto; /* to prevent button from growing/shrinking */
}
.footer {
    padding: 48px 180px;
    background: #1F2937;
    font-size: 18px;
    color: #E7E5EB;
    text-align: center;
}